{% extends 'navbar.html' %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static',filename='videoCall_client.js') }}"></script>
<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css" />

<!-- 
  DESCRIPTION:
      Creating video call page for peer to peer.  
-->

<body onload="registerUser('{{ user_name }}', '{{ user_email }}')">

    <div class="cols-sm-12 row">
        <div class="col-sm-2"></div>
    
        <div class="col-sm-8 row">
            <h2 style="text-align: center;">Video Call</h2>
            <br>

            <!-- 1. For displaying user icon with user name and email -->
            <div class="col-sm-12"> 
                <div class="col-sm-1">
                    <img src="{{ url_for('static',filename='images/icons/user.png') }}", width=50px, height=50px>
                </div> 
                <div class="col-sm-11" style="text-align: left;"> 
					<b>User : </b> {{ user_email }} <p id="user">{{ user_name }}</p> 
				</div>    
            </div>

            <br><br><br>

            <!--  2. Showing list of clients -->

            <h4>List of Available Clients.</h4>
            <table id="table" style="width:100%">
            </table>

            <div id="available_clients" style="display:none">  </div>

            <br><br>
            <center>
                <h4>Call Status:</h5>
                <div class="regualar_text" palceholder="text" id="dispalyMessage"> Not Connected
                </div>
            </center>
            <!--  3. Showing video boxes and buttons to control video and audio -->

            <div class="col-sm-6">
                <p class="regualar_text" style="text-align: center;"><b>Your feed</b></p>
                <video class="videobox" autoplay="true" id="userVideoFeed" muted></video>
                <br><br>
                <center>
                    <img src="{{ url_for('static',filename='images/icons/close.png') }}", width=50px, height=50px onclick="closeCall()" id="videoButton" class="circular_card"> 
                </center>         
            </div>

            <div class="col-sm-6">
                <p class="regualar_text" style="text-align: center;"><b>Other user feed</b></p>
                <video class="videobox" autoplay="true" id="othersVideoFeed" controls muted></video>
            </div>
         </div>

         <div class="col-sm-2"></div>

    </div>

</body>

{% endblock %}


